@import 'tailwindcss';

@theme {
  --background: #f9fafb;
  --primary: #3b82f6;
  --secondary: #8b5cf6;
  --text: #1f2937;
  --destaque: #10b981;
}

:root {
  --background: #f9fafb; //Fundo da página
  --primary: #3b82f6; // Botões principais, destaques
  --secondary: #8b5cf6; //Acentos, ícones, preços
  --text: #1f2937; //Texto principal, rodapé
  --destaque: #10b981; //Ofertas, etiquetas de “Novo” etc.
}

body {
  background-color: var(--background);
  font-family: Inter, Helvetica, sans-serif;
}
