@import 'tailwindcss';

@theme {
  --background: #f9fafb;
  --primary: #3b82f6;
  --light-primary: ##a9c6f5
  --secondary: #8b5cf6;
  --text: #1f2937;
  --destaque: #10b981;
}

:root {
  --background: #f9fafb;
  --primary: #3b82f6;
  --secondary: #8b5cf6;
  --text: #1f2937;
  --destaque: #10b981;
}

body {
  background-color: var(--background);
  font-family: Inter, Helvetica, sans-serif;
}
